
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

$soft-blue: hsl(231, 69%, 60%);
$soft-blue-gray: hsla(231, 69%, 60%, 0.2001);
$soft-red: hsl(0, 94%, 66%);
$light-gray: hsl(0, 0%, 97%);
$grayish-blue:hsl(229, 8%, 60%);
$very-dark-blue:hsl(229, 31%, 21%);
$very-dark-blue-gray:hsla(229, 31%, 21%, 0.2501);
$red: hsl(0, 94%, 66%);
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);

$font-family: "Rubik", sans-serif;
$regular: 400;
$medium: 500;

$ease-transition: all 0.25s ease;

$border: 1px solid $soft-blue-gray;

html, body, #root {
    width: 100%;
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: $font-family;
    font-weight: $regular;
    font-size: 18px;
    color: $very-dark-blue;
}

.nav__container {
    margin: 40px 32px 84px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero__img_container, .feature__img_container {
    position: relative;
}

.features__container {
    margin-top: 140px;
}

.features__description {
    display: flex;
    flex-direction: column;
    margin: 0 32px;
}

.features__list {
    display: flex;
    flex-direction: column;
    padding: 40px 32px;
}

.features__list__item {
    text-align: center;
    padding: 21px 0;
}

.feature__img_container {
    padding: 0 32px 37px 32px;
}

.extensions__description {
    padding: 77px 32px 0 32px;
}

.extensions__list {
    display: flex;
    flex-direction: column;
    padding: 40px 48px;
    gap: 40px;
}

.extension__card {
    box-shadow: 0 10px 20px -5px $soft-blue-gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
}

.extension__img {
    width: 102px;
    height: 100px;
    margin: 49px 0 32px 0;
}

.faqs__container {
    margin: 0 32px;
}

.faqs__description {
    margin-top: 100px;
}

.faqs__list {
    display: flex;
    flex-direction: column;
}

.subscription__container {
    display: flex;
    flex-direction: column;
    background-color: $soft-blue;
    margin-top: 123px;
    padding: 60px 32px;
}

.subscription__header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subscription__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 32px;
}

.subscription__input {
    width: 100%;
}

.subscription__input.error {
    background-color: $red;
    border-radius: 5px;
}

.subscription__email {
    width: 100%;
    border-radius: 5px;
    padding: 10px 20px;
    border: none;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.25px;
}

::placeholder {
    color: $very-dark-blue-gray;
    opacity: 1; /* Firefox */
}
  
::-ms-input-placeholder { /* Edge 12 -18 */
    color: $very-dark-blue-gray;
}

// REUSABLE CLASSES
.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.full-width {
    width: 100%;
    height: fit-content;
}

.heading-1 {
    font-weight: $medium;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: -0.09px;
    text-align: center;
}

.heading-2 {
    font-weight: $medium;
    font-size: 24px;
    line-height: 52px;
    letter-spacing: -0.08px;
    text-align: center;
}

.heading-3 {
    font-weight: $medium;
    font-size: 20px;
    line-height: auto;
    letter-spacing: 0.25px;
}

.heading-4 {
    font-weight: $regular;
    font-size: 15px;
    line-height: 32px;
}

.heading-5 {
    font-weight: $medium;
    font-size: 12px;
    line-height: 40px;
    letter-spacing: 4.62px;
}

.heading-6 {
    font-weight: $medium;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.08px;
}

.subheading-1 {
    font-weight: $regular;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    opacity: 50%;
    color: $very-dark-blue;
}

.subheading-2 {
    font-weight: $regular;
    font-size: 15px;
    line-height: 28px;
    text-align: center;
    opacity: 50%;
    color: $very-dark-blue;
}

.paragraph {
    font-weight: $regular;
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0.14px;
}

.text-white {
    color: $white;
}

.text-center {
    text-align: center;
}

.btn {
    padding: 10px 16px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.25px;
}

.primary-btn {
    background-color: $soft-blue;
    color: $white;
}

.secondary-btn {
    background-color: $light-gray;
    color: $very-dark-blue;
}

.tertiary-btn {
    background-color: $red;
    color: $white;
}

.self-center {
    place-self: center;
}

.m-24 {
    margin: 24px;
}

.mt-64 {
    margin-top: 64px;
}

.mt-48 {
    margin-top: 48px;
}

.mt-26 {
    margin-top: 26px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-16 {
    margin-top: 16px;
}

.mb-6 {
    margin-bottom: 6px;
}

.mb-16 {
    margin-bottom: 16px;
}

.mb-24 {
    margin-bottom: 24px;
}

.mb-32 {
    margin-bottom: 32px;
}

.pb-12 {
    padding-bottom: 12px;
}

.border-top {
    border-top: $border;
}

.border-bottom {
    border-bottom: $border;
    position: relative;
}

.selected-feature::after {
    display: block;
    transform: scaleX(0.5);
    content: '';
    border-bottom: solid 4px $red;
    position: absolute; 
    bottom: 0; 
    left: 0;
    right: 0;
    transform: scaleX(0);
    transition: all 0.3s ease; 
    transform-origin: center;
}

.selected-feature.selected::after {
    transform: scaleX(0.5);
}

.img-shadow {
    background-color: $soft-blue;
    height: 203px;
    width: 577px;
    position: absolute;
    bottom: 0;
    border-radius: 316.5px;
    z-index: -1;
}

.img-shadow-right {
    @extend .img-shadow;
    left: 30%;
}

.img-shadow-left {
    @extend .img-shadow;
    right: 20%;
}

.content {
    padding: 48px 32px 0 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-containers {
    display: flex;
    gap: 14px;
}

.img-container {
    overflow: hidden;
    transition: all 1s ease;
}

.dotted-divider::after {
    display: block;
    content: '';
    border-bottom: 4px dotted $soft-blue-gray;
    position: absolute;
    right: 0;
    left: 0;
    transform: scaleX(2.5); /* Stretches the dots horizontally */
}

.hidden {
    display: none;
}

.input-error {
    border: 2px solid $red;   
}

.error-message {
    padding: 4px 12px;
    font-size: 10px;
    letter-spacing: 0.25px;
    line-height: auto;
    font-weight: $medium;
}

::selection {
    background: $soft-blue; /* Highlight background color */
    color: #fff;      /* Highlight text color */
}